@font-face {
    font-family: "Recursive Mono";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("SF Mono"), local("Monaco"), local("Inconsolata"), local("Consolas"), local("Liberation Mono"), local("Courier New"), monospace;
}
